*.o
Makefile.in
Makefile
/depcomp
/missing
/configure
/.vscode
/node_modules

/install-sh
.deps/
aclocal.m4
autom4te.cache/
missing
stamp-h1
depcomp
/config.*
compile
.dirstamp

/libpacketcrypt.a
/libprogsupport.a
/bin
/*.dSYM

/datastore
/_datastore
/pool.js
