*.o
Makefile.in
Makefile
/depcomp
/install-sh
/missing
/.vscode

.deps/
aclocal.m4
autom4te.cache/
missing
stamp-h1
install-sh
depcomp
/config.*
compile
configure
.dirstamp

/libpacketcrypt.a
/libprogsupport.a
/simplehash
/pcann
/pcblk
/optest
/announcements.bin
/difftest
/*.dSYM


