*.o
Makefile.in
Makefile
/depcomp
/install-sh
/missing
/configure
/.vscode
/node_modules

.deps/
aclocal.m4
autom4te.cache/
missing
stamp-h1
install-sh
depcomp
/config.*
compile
.dirstamp

/libpacketcrypt.a
/libprogsupport.a
/bin
/*.dSYM

/datastore

